<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body style="background-color: rgb(134, 67, 67);">
    <h1>Tus Listas</h1>
    <form method="POST" action="/">
        <p><input type="checkbox" value='1' name="mycheckbox"> Comprar pan<p>
        <p><input type="checkbox" value='2' name="mycheckbox"> Estudiar MAT022<p>
    <input type="submit">
</body>
</html>